body{
          background-color:lavender;
    }   
hr {
      border-style:none;
      border-width: 5px;
      border-top-style: dotted;
      border-color: darkgrey;
      width:5%;

    }
 hr:hover{
    border-color:magenta ;
 }   
 img:hover{
    /*background-color:saddlebrown;*/
    border-radius: 100%;
    border:5px solid saddlebrown;
    
 }   
h1{
    color:darkslateblue;
}    
h3{
     color:sienna;
     
}
a{
    color:darkgreen;
} 
a:hover{
     color:orangered;
}
